header{
  background-color:#d1957b;
}
main{
  background-color:#d1957b;
}
footer{
  background-color:#d1957b;
}
p{
  font-size:30px
}
.nav{
   color: black;
    background-color: white;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 30px;
}
