header{
  background-color:#d1957b;
  padding:10px;
}
nav{
  text-align:right;
}
main{
  background-color:#f5cfbf;
}
footer{
  background-color:#d1957b;
}
p{
  font-size:30px;
}
.nav{
   color: black;
    background-color: #f2d9ce;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 30px;
}
header h1{
text-align:center;
  color:white;
}

img src{
  height:255px;
  weight:383px;
}
